/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

body {
 background-color: #5E8D83;
 text-align: center;
}

/* Makes lists side by side */
.lists {
  display: inline-flex;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

/* Makes lists side by side */
.Help {
  display: inline-flex;
  margin-top: 1em;
  padding-bottom: 1em;
}

/* STYLE TEXT */

/* Styles titles of each page */
h1 {
  color: #FFFFFC;
   padding: 0.5em;
}

/* Styles headings on each page */
h2 {
  text-align: left;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #F7FFF7;
}

/* Styles text that is on every page */
h4 {
  color: #1A1A1A;
  font-size: 17px;
  padding-bottom: 1em;
}

/* Empty space to structure text */
h5 {
  padding: 1.5em;
}

/* Styles text in fact gen */
p {
  color: #FFFFFC;
  padding: 1em;
}

/* Styles first list */
.list1 {
  text-align: left;
  padding-left: 2em;
}

/* Styles the second list */
.list2 {
  text-align: left;
  padding-top: 0.5em;
  padding-left: 0em;
}

/* Styles each listed item */
.list {
  list-style-type: square;
  list-style-position: inside;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 17px;
  color: #DFEADC;
}

/* Styles help text */
.help {
  padding-top: 0.25em;
  border: 2px solid #326247;
  background-color: #4f8274;
}

/* Styles Help list */
.Seek {
  text-align: left;
  padding-top: 0.5em;
  padding-left: 2em;
}

/* Makes space between links */
.link {
  padding-right: 2em;
}

/* Styles links */
a {
  color: #DFEADC;
  background-color: transparent;
  text-decoration: underline;
}

/* Changes the color of links when hovering */
a:hover {
  color: #326247;
  background-color: transparent;
  text-decoration: underline;
}

/* Moves links to the left so they don't bump into the list */
.agencies {
  padding-left: 10em;
}

/* STYLE IMAGES */

img {
 border: 2px solid #326247;
 border-radius: 5%;
 margin-top: 10px;
 margin-bottom: 25px;
}

/* STYLE NAV BAR */

.navbar {
  list-style-type: none;
  overflow: hidden;
  padding: 1em;
  margin: 0;
  background-color: #5E8D83;
  border: 2px solid #3c6d61;
  text-align: right;
  font-size: 18px;
}

/* Converts the nav bar into horizontal bar */
.page {
  display: inline;
}

/* Styles the links inside the nav bar */
.page a {
  text-decoration: none;
  color: #D2E1CC;
  padding: 1.25em;
}
/* Changes the color of links when hovering */
.page a:hover {
  background-color: #41766b;
}

/* Shows which page is currently being displayed */
.active {
  background-color: #497e73;
  border: 2px solid #3c6d61;
  border-bottom-width: 0;
}

/* Title that goes on the left of nav bar */
.title {
  color: #D2E1CC;
  float: left;
  padding-left: 1.25em;
}

/* STYLE BUTTONS */

#myButton {
  background-color: #50867b;
  color: #D2E1CC; 
  border: 2px solid #326247;
  border-radius: 5%;
  font-size: 16px;
  padding: 0.5em;
}

/* FactGen */
.factGen {
  font-size: 20px;
  /* Limits how much space text takes up horizontally */
  max-width: 1000px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 1em;
}
